@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.form_area{
  background: #ffffff;
  padding: 40px;
  margin: 50px 0 115px;
  border-radius: 10px;
  opacity: 0.90;
}
.text-result{
  text-align: center;
  color: #000000;
}

.navbar-title{
  margin-left: 30px;
}

.text-result-success{
  text-align: center;
  color: #4e9c53;
  font-weight: 900;
}

.text-result-failed{
  text-align: center;
  color: #BF3767;
  font-weight: 900;
}

.result_area{
  background: #ffffff;
  padding: 37px 25px 10px 25px;
  margin: 50px 0 50px;
  border-radius: 10px;
  opacity: 0.95;
  height: 5%;
}

.radio_property{
  padding-top: 7px;
}

.radio_female{
  margin-left: 5px;
}

.radio_yes{
  margin-left: 20px;
}

.img {
  background: url("https://thesamikhsya.com/wp-content/uploads/2021/02/agril.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
  -webkit-filter: blur(20px);
  -moz-filter: blur(10px);
  -o-filter: blur(20px);
  -ms-filter: blur(5px);
  filter: blur(1.5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*Information Detail*/
.space-title-info{
    margin: 20px 0 0 0;
}
/*end*/

.footer_area{
  width: 100%;
  height: 50px;
  text-align: center;
  color: #c3c3c3;
  position: relative;
  bottom: 0px;
}
.title-exp{
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
}

.outer-info{
  background: #ffffff;
  width: 100%;
  opacity: 0.94;
  padding-bottom: 35px;
}

.reset-btn{
  margin-left: 5px;
}

.predict-btn{
  margin-right: 5px;
}

.ul-footer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  padding-left: 36%; 
}

.li-footer {
  float: left;
}

.li-footer a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.li-footer a:hover {
  background-color: #111111;
}

body,
html {
  height: 100%;
}